apiVersion: v1
kind: Secret
metadata:
  name: ghcr-secret
  namespace: portfolio-website
type: docker-registry
stringData:
  docker-server: "https://ghcr.io"
  docker-username: "YOUR_GITHUB_USERNAME"
  docker-password: "YOUR_GITHUB_TOKEN"
  docker-email: "your-email@example.com"
